{% extends 'base.html' %}
{% block title %}Product_view{% endblock %}
{% block menu %}
{#    {% if request.user.is_authenticated %}#}
        <li><a href="{% url 'webapp:product_update' product.pk %}">Edit</a></li>
{#        <li><a href="{% url 'webapp:task_delete' task.pk %}">Delete</a></li>#}
{#    {% endif %}#}
{#    {% if request.user.is_authenticated and request.user.team_user.project == task.project.pk%}#}
{#        <li><a href="{% url 'webapp:task_update' task.pk %}">Edit</a></li>#}
{#        <li><a href="{% url 'webapp:task_delete' task.pk %}">Delete</a></li>#}
{#    {% endif %}#}
{% endblock %}
{% block content %}
   <div class="container">
        {% if not product.picture or product.picture == 'False' %}
            {% load static %}
            <img class="avatar" src="{% static 'img/nofoto.png' %}" width="250" height="250" alt="no picture">
        {% else %}
            <img class="avatar" src="{{ product.picture.url }}" width="250" height="250" alt="product picture">
        {% endif %}
        <h1>{{ product.name }}</h1>
        <p>Категория: {{ product.category }}</p>
        <p>Описание: {{ product.description }}</p>

   </div>
{% endblock %}